* {
    margin: 0;
    padding: 0;
    

}
body{
    background-color: rgb(45, 157, 177);
}

header{
    text-align: center;
    padding: 1vh;
    background-color: rgba(45, 157, 177, 0.5);
}

main{
    background-color: rgb(45, 157, 177);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    
}

.search{
    
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5vh;
    border-radius: 20px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.3);
}

.search input{
    border: 1px solid black;
    background-color: white;
    padding: 1vh;
    border-radius: 5px;
}

.search button{
    padding: 1vh;
    border-radius: 5px;
}

.card{
    display: flex;
    flex-wrap: wrap;

    align-items: center;

}
.card div{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1vh;
    padding: 1vh;
    border-radius: 20px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.3);
}



footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
    background-color: rgba(255, 255, 255, 0.5);
}

footer div{
    margin: 1vh;
}